html {
  margin:0;
	padding:0;
	height:100%;
  box-sizing: border-box;
}

body {
  font-family: "Bookman", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-nav {
  color: #fff;
  padding: 10px;
  font-weight: bold;
  background-color: #9242f4;
}

.widget-border {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: solid 2px lightgrey;
  border-radius: 3px;
}

#mobile-nav-btn {
  border: solid 2px lightgrey;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

#mobile-nav-btn:hover {
  opacity: .80;
  cursor: pointer;
}

#mobile-nav {
  display: none;
  color: #fff;
  margin-top: 0;
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

#mobile-nav a li {
  list-style: none;
  font-size: 15px;
  color: #9242f4;
}

#mobile-nav a li:hover {
  text-decoration: none;
  opacity: .80;
}


#nav-logo {
  font-size: 2em;
  color: #fff;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

#nav-logo:hover {
  opacity: .80;
}

#nav-items {
  list-style: none;
  display: inline-block;
  float: right;
}

#nav-items li {
  display: inline-block;
  margin: 20px;
}

#nav-items a li {
  color: #fff;
  padding: 10px;
  margin: 10px;
}

#nav-items a li:hover {
  opacity: .80;
}

.wrapper {
  min-height: 100%;
}

.container-fluid {
  margin: 5px;
  padding-bottom: 100px;
}

.bottom-footer {
  color: #fff;
  padding: 25px;
  font-weight: bold;
  background-color: #9242f4;
  width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
}

.bottom-footer a {
  color: #fff;
}

.bottom-footer a:hover {
  opacity: .80;
}

.gpa-column,
.course-name-column {
  text-align: center;
}

.complete {
  color: #27ae60;
  font-weight: bold;
}

.incomplete {
  color: firebrick;
  font-weight: bold;
}

#gpa {
  font-size: 4.5em;
  color: lightgrey;
}

.course-title {
  font-size: 3.5em;
  color: lightgrey;
}

/* Form styles */

.form-contain {
  width: 40%;
  margin: 10px auto;
  text-align: justify;
}

.confirm-deletion-column {
  text-align: center;
}

.form-section {
  text-align: center;
}

.form-section input, .form-section select {
  width: 100%;
  font-size: 1.3em;
}

.btn {
  background-color: #9242f4;
  color: #fff;
  font-weight: bold;
}

.success-message {
  background-color: #27ae60;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  padding: 20px;
  border-radius: 3px;
}

.error-message {
  background-color: #c0392b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  padding: 20px;
  border-radius: 3px;
}



@media only screen and (min-width: 681px) {
  #mobile-nav {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  #nav-logo {
    margin: 0;
    font-size: 1.5em;
  }

  #nav-items li {
    display: none;
  }

  #mobile-nav {
    padding: 10px 10px 10px 0;
  }

  #mobile-nav-btn {
    display: inline-block;
  }

  .widget-border {
    width: 95%;
    margin: 0 auto;
  }

  .gpa-column, .main-column {
    padding: 20px;
  }

  #gpa {
    font-size: 2.5em;
  }

  .form-contain {
    width: 95%;
  }
}
